.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #162e43;
    grid-template-rows: auto auto;          /* Rows will size based on content */
    gap: 10px;  
    padding: 10px;
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.videotitle{
    font-size: 20px;
}

.summary{

  font-size: large;
}

.description-box{
  font-size: medium;
}

.social-media{
  font-size: 50px;
  align-content: center;
}

.dropbtn {
  background-color: #e8abde;
  color: rgb(27, 24, 120);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#instagram:hover{
  background-color: #c13584;
  transform: scale(1.05);
  transition: 1;
}
#github:hover{
  background-color: #41277d;
  transform: scale(1.05);
  transition: 1;
}


footer{
  background-color: #162e43;
  align-items: center;
}