
body {
  background-color: lightblue;
}

h1 {
  color: darkblue;
}

img{

  width: 100;
  height: auto;

}

.image-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-container{
  width: 200px;
  height: auto;

}